@charset "utf-8";

@font-face {
	font-family: "Noto Sans";
	font-weight: 100;
	font-style: normal;
	src: url("NotoSans-Thin.eot?") format("eot"),
		url("NotoSans-Thin.otf") format("opentype"),
		url("NotoSans-Thin.woff") format("woff"),
		url("NotoSans-Thin.woff2") format("woff2");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: 200;
	font-style: normal;
	src: url("NotoSans-Light.eot?") format("eot"),
		url("NotoSans-Light.otf") format("opentype"),
		url("NotoSans-Light.woff") format("woff"),
		url("NotoSans-Light.woff2") format("woff2");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: 300;
	font-style: normal;
	src: url("NotoSans-DemiLight.eot?") format("eot"),
		url("NotoSans-DemiLight.otf") format("opentype"),
		url("NotoSans-DemiLight.woff") format("woff"),
		url("NotoSans-DemiLight.woff2") format("woff2");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: 400;
	font-style: normal;
	src: url("NotoSans-Regular.eot?") format("eot"),
		url("NotoSans-Regular.otf") format("opentype"),
		url("NotoSans-Regular.woff") format("woff"),
		url("NotoSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: 500;
	font-style: normal;
	src: url("NotoSans-Medium.eot?") format("eot"),
		url("NotoSans-Medium.otf") format("opentype"),
		url("NotoSans-Medium.woff") format("woff"),
		url("NotoSans-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: 700;
	font-style: normal;
	src: url("NotoSans-Bold.eot?") format("eot"),
		url("NotoSans-Bold.otf") format("opentype"),
		url("NotoSans-Bold.woff") format("woff"),
		url("NotoSans-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Noto Sans";
	font-weight: 900;
	font-style: normal;
	src: url("NotoSans-Black.eot?") format("eot"),
		url("NotoSans-Black.otf") format("opentype"),
		url("NotoSans-Black.woff") format("woff"),
		url("NotoSans-Black.woff2") format("woff2");
}

.notosans {
	font-family: "Noto Sans";
}